<!DOCTYPE html>
<html ng-app="angular-login">
  <head>
    <title>angular-login-service</title>

    <!-- BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS, seems a must! -->
    <link href="style.css" rel="stylesheet">

    <!-- Libraries required -->
    <script type="text/javascript" src="libs/angular.js"></script>
    <script type="text/javascript" src="libs/angular-animate.js"></script>
    <script type="text/javascript" src="libs/angular-mocks.js"></script>
    <!-- https://github.com/angular-ui/ui-router -->
    <script type="text/javascript" src="libs/angular-ui-router.js"></script>

    <!-- roles config -->
    <script type="text/javascript" src="src/routing-config.js"></script>

    <!-- templates compiled into js -->
    <script type="text/javascript" src="src/templates-app.js"></script>

    <!-- Angular app and deps -->
    <script type="text/javascript" src="src/app.js"></script>
    <script type="text/javascript" src="src/mockhttp.js"></script>
    <script type="text/javascript" src="src/grandfather.js"></script>
    <script type="text/javascript" src="src/login-service.js"></script>
    <script type="text/javascript" src="src/home/home.js"></script>
    <script type="text/javascript" src="src/private/private.js"></script>
    <script type="text/javascript" src="src/error/error.js"></script>

  </head>
  <body ng-controller="BodyController">
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
          <!-- Navbar links -->
          <ul class="nav navbar-nav">
            <li ng-class="{ active: $state.is('app.home') }">
              <a href="" ng-click="$state.go('app.home')">Home</a>
            </li>
            <li ng-class="{ active: $state.is('app.private') }">
              <a href="" ng-click="$state.go('app.private')">Admin-Only page</a>
            </li>
          </ul>
          <!-- Right side of the navbar -->
          <!-- Login Form -->
          <form class="navbar-form navbar-right" name="loginForm" role="login" ng-submit="loginMe()" ng-hide="ls.isLogged || !ls.doneLoading">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="login.username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" ng-model="login.password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="login.working">Login <i class="icon-signin"></i></button>
          </form>
          <!-- Spinner -->
          <button class="btn btn-default navbar-btn navbar-right" ng-hide="ls.doneLoading">
            <i class="icon-spinner icon-spin"></i>
          </button>
          <!-- Logout Form -->
          <form class="navbar-form navbar-right" role="logout" ng-submit="logoutMe()" ng-show="ls.isLogged">
            <div class="form-group">
              <label>Hello {{ ls.user.name }}</label>
            </div>
            <div class="form-group">
              <button  type="submit" class="btn btn-default">Logout <i class="icon-signout"></i></button>
            </div>
          </form>
          </ul>
        </div>
      </nav>
      <ui-view ng-hide="doingResolve"></ui-view>
      <div class="jumbotron loading-jumbo" ng-show="doingResolve">
        <h1><i class="icon-refresh icon-2x icon-spin"></i> Loading</h1>
      </div>
    </div>
  </body>
</html>
